<?xml version="1.0" encoding="UTF-8"?>  
<?eclipse version="3.4"?>  
<plugin>
 
   <extension 
     point="org.python.pydev.pydev_completion"  
     id="chameleon_python_category">
		<completion_participant class="com.github.EclipseChameleonPlugins.ChameleonPythonCompletionProposalComputer"/>
   </extension>
  
</plugin> 
